# Event Like Prediction Model
This notebook connects to your local PostgreSQL `pnta` database and trains a machine learning model to predict whether an event will get more than a threshold number of likes.

In [5]:
import pandas as pd
from sqlalchemy import create_engine
from sklearn.preprocessing import MultiLabelBinarizer

DB_USER = 'postgres'
DB_PASS = 'krisdan29'   # change
DB_HOST = 'localhost'
DB_PORT = '5432'
DB_NAME = 'pnta'

# Step 2: Create SQLAlchemy engine
engine = create_engine(f'postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}')

### Load each required table into its own DataFrame

In [6]:
# 1. user_event_like (event likes)
df_user_event_like = pd.read_sql("SELECT user_id, event_id FROM pnta.user_event_like", engine)

# 2. user_event_rating
df_user_event_rating = pd.read_sql("SELECT user_id, event_id, rating FROM pnta.user_event_rating", engine)

# 3. user_event_checkin
df_user_event_checkin = pd.read_sql("SELECT user_id, event_id, checked_in_at FROM pnta.user_event_checkin", engine)

# 4. event
df_event = pd.read_sql("SELECT event_id, event_date, start_time, end_time, venue_id FROM pnta.event", engine)

# 5. event_tag
df_event_tag = pd.read_sql("SELECT * FROM pnta.event_tag", engine)

# 6. location
df_location = pd.read_sql("SELECT venue_id, city FROM pnta.location", engine)

# 7. tag
df_tag = pd.read_sql("SELECT * FROM pnta.tag", engine)

# 8. user_filter_tag
df_user_filter_tag = pd.read_sql("SELECT * FROM pnta.user_filter_tag", engine)

# 9. user_venue_like
df_user_venue_like = pd.read_sql("SELECT user_id, venue_id FROM pnta.user_venue_like", engine)

# 10. user_venue_rating
df_user_venue_rating = pd.read_sql("SELECT user_id, venue_id, rating FROM pnta.user_venue_rating", engine)

# 11. userp
df_userp = pd.read_sql("SELECT user_id, gender, city, birth_date FROM pnta.userp", engine)

# 12. venue
df_venue = pd.read_sql("SELECT venue_id, price_rating, rating FROM pnta.venue", engine)

### Merge all dataframes into one using left-join

In [7]:
# Merge user_event_like: count likes per event
likes = df_user_event_like.groupby("event_id").size().reset_index(name="like_count")

# Merge user_event_checkin: count check-ins per event
checkins = df_user_event_checkin.groupby("event_id").size().reset_index(name="checkin_count")

# Merge user_event_rating: average rating per event
ratings = df_user_event_rating.groupby("event_id").agg(
    avg_event_rating=("rating", "mean"),
    event_rating_count=("rating", "count")
).reset_index()

# Merge event_tag with tag to get tag names
event_tags = pd.merge(df_event_tag, df_tag, on="tag_id", how="left")
tags = event_tags.groupby("event_id").agg(tags=("name", lambda x: ",".join(x))).reset_index()

# Merge venue with location to get venue city
venue_full = pd.merge(df_venue, df_location, on="venue_id", how="left")

# Merge user check-in with userp for demographics
user_demo = pd.merge(df_user_event_checkin, df_userp, on="user_id", how="left")
user_demo["age"] = pd.Timestamp("now").year - pd.to_datetime(user_demo["birth_date"]).dt.year
user_stats = user_demo.groupby("event_id").agg(
    avg_age=("age", "mean"),
    percent_male=("gender", lambda x: (x == "male").mean()),
    percent_female=("gender", lambda x: (x == "female").mean()),
    percent_local_users=("city", lambda x: (x == x.mode()[0]).mean() if not x.mode().empty else 0)
).reset_index()

# Start with base event info
df_merged = df_event.copy()


# Join step-by-step
df_merged = df_merged.merge(likes, on="event_id", how="left")
df_merged = df_merged.merge(checkins, on="event_id", how="left")
df_merged = df_merged.merge(ratings, on="event_id", how="left")
df_merged = df_merged.merge(tags, on="event_id", how="left")
df_merged = df_merged.merge(venue_full, on="venue_id", how="left")
df_merged = df_merged.merge(user_stats, on="event_id", how="left")
# Define success_flag based on thresholds
df_merged["success_flag"] = (
    (df_merged["like_count"] >= 30.0) &
    (df_merged["checkin_count"] >= 20.0) &
    (df_merged["event_rating_count"] >= 30.0)
).astype(int)


# Optional: Fill NaNs if desired
df_merged.fillna({
    "like_count": 0,
    "checkin_count": 0,
    "avg_event_rating": 0,
    "tags": "",
    "price_rating": 0,
    "venue_rating": 0,
    "city": "Unknown",
    "avg_age": 0,
    "percent_male": 0,
    "percent_female": 0,
    "percent_local_users": 0,
    "event_rating_count": 0
}, inplace=True)

# remove rows without tags and where rating count exceeds checkin count
df_merged = df_merged[df_merged["tags"] != ""]
valid_rows = (df_merged["event_rating_count"] <= df_merged["checkin_count"])

# Keep only valid rows
df_merged = df_merged[valid_rows].copy()

# Optional: print how many rows were removed
print(f"Rows removed: {len(valid_rows) - valid_rows.sum()}")


pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df_merged.head(50))

Rows removed: 8908
     event_id  event_date start_time  end_time  venue_id  like_count  checkin_count  avg_event_rating  event_rating_count                                   tags price_rating  rating        city    avg_age  percent_male  percent_female  percent_local_users  success_flag
1           2  2025-03-14   21:00:00  22:00:00        72        44.0           34.0          2.857143                28.0                              Rave,Jazz       MEDIUM     4.7  Copenhagen  32.636364      0.470588        0.323529             0.176471             0
7           8  2025-03-28   19:00:00  20:00:00        80        34.0           27.0          4.136364                22.0                     Street,Techno,Jazz         HIGH     4.3     Aalborg  31.888889      0.444444        0.333333             0.185185             0
8           9  2025-03-13   19:00:00  22:00:00       195        38.0           32.0          3.206897                29.0                         Barcade,Tavern          LOW     3.2     Aalborg  36.093750      0.468750        0.343750             0.250000             0
9          10  2025-03-06   20:00:00  21:00:00       136        50.0           37.0          4.464286                28.0                        Barcade,Low,40+          LOW     3.2       Vejle  33.540541      0.486486        0.270270             0.189189             0
10         11  2025-05-10   19:00:00  22:00:00        41        53.0           35.0          3.555556                27.0                              Rave,Live          LOW     4.8       Vejle  31.171429      0.314286        0.342857             0.171429             0
11         12  2025-05-30   17:00:00  18:00:00        99        42.0           31.0          3.640000                25.0                      DJ,Art Bar,Lounge         HIGH     3.7      Aarhus  35.548387      0.354839        0.419355             0.258065             0
12         13  2025-04-07   17:00:00  19:00:00       117        48.0           30.0          3.833333                30.0                           DJ,Dive,Club          LOW     3.0  Copenhagen  36.137931      0.366667        0.300000             0.166667             1
14         15  2025-03-21   19:00:00  22:00:00       187        38.0           33.0          3.923077                26.0                             Local,Live       MEDIUM     3.8     Randers  33.303030      0.242424        0.363636             0.212121             0
18         19  2025-04-10   20:00:00  23:00:00        17        59.0           43.0          3.400000                25.0                       DJ,Indie,Student       MEDIUM     4.1  Copenhagen  32.325581      0.395349        0.302326             0.186047             0
19         20  2025-05-12   19:00:00  21:00:00       109        40.0           31.0          2.344828                29.0                                  Young          LOW     4.3      Aarhus  34.354839      0.354839        0.387097             0.161290             0
31        398  2025-04-27   20:00:00  01:00:00        30        48.0           24.0          4.086957                23.0            None,Dress Code,Pop,Art Bar       MEDIUM     3.3      Aarhus  35.125000      0.500000        0.250000             0.208333             0
38        405  2025-04-28   19:00:00  23:00:00        27        38.0           19.0          2.823529                17.0                        Rooftop,College          LOW     4.4     Aalborg  29.315789      0.210526        0.210526             0.210526             0
40        407  2025-04-14   18:00:00  23:00:00        27        58.0           30.0          3.413793                29.0                      Street,Rave,Beach          LOW     4.4     Aalborg  37.866667      0.266667        0.333333             0.233333             0
45        412  2025-04-22   20:00:00  22:00:00        13        42.0           21.0          2.333333                15.0      Student,Loud,Jazz,Pub,Club,Custom          LOW     3.7     Horsens  36.666667      0.285714        0.428571             0.238095             0
47        414  2025-04-21   18:00:00  00:00:00         9        48.0           24.0          2.857143                21.0                Barcade,Inn,Mixed Crowd         HIGH     4.4     Esbjerg  34.833333      0.416667        0.458333             0.208333             0
48        415  2025-04-11   18:00:00  01:00:00        11        54.0           27.0          4.421053                19.0                      Techno,Indie,Club       MEDIUM     3.1     Aalborg  34.703704      0.259259        0.259259             0.222222             0
83        450  2021-08-09   18:00:00  20:00:00       266        64.0           32.0          2.578947                19.0                None,Tourists,Live,High       MEDIUM     4.2    Roskilde  34.593750      0.218750        0.468750             0.218750             0
96        463  2021-04-27   20:00:00  02:00:00       299        42.0           22.0          4.227273                22.0                  Concept,Local,Rap,Pub         HIGH     4.0     Randers  34.636364      0.136364        0.500000             0.272727             0
109       475  2022-09-23   22:00:00  00:00:00       203        46.0           23.0          3.523810                21.0               Acoustic,Tourists,Medium         HIGH     3.9      Odense  36.086957      0.304348        0.304348             0.217391             0
124       490  2024-10-20   20:00:00  02:00:00        35        46.0           23.0          3.565217                23.0            Street,Indie,Jazz,High,Dive         HIGH     4.7      Odense  34.869565      0.260870        0.347826             0.217391             0
131       497  2023-02-11   20:00:00  01:00:00        61        46.0           23.0          1.809524                21.0                        Karaoke,Pub,40+       MEDIUM     3.7     Horsens  37.130435      0.260870        0.347826             0.173913             0
157       523  2021-07-31   19:00:00  23:00:00       174        54.0           28.0          3.833333                24.0  Techno,Dress Code,Rave,Gastro,Rooftop          LOW     3.7  Copenhagen  35.250000      0.392857        0.214286             0.214286             0
168       534  2024-07-26   21:00:00  00:00:00       107        48.0           24.0          3.458333                24.0                   LGBTQ,Low,Pub,Tavern       MEDIUM     4.1     Esbjerg  33.208333      0.333333        0.250000             0.208333             0
173       539  2020-12-26   18:00:00  20:00:00       120        44.0           22.0          4.238095                21.0                 Tourists,Brew,Pub,High         HIGH     3.0      Odense  33.227273      0.409091        0.136364             0.272727             0
174       540  2023-12-26   17:00:00  23:00:00       156        64.0           32.0          3.260870                23.0                     None,Techno,Gastro       MEDIUM     3.2      Aarhus  34.968750      0.437500        0.281250             0.187500             0
187       553  2021-06-20   19:00:00  23:00:00        14        61.0           31.0          2.807692                26.0            House,LGBTQ,Loud,Club,Beach          LOW     3.6      Aarhus  32.612903      0.387097        0.161290             0.161290             0
193       559  2020-11-06   19:00:00  22:00:00       148        48.0           24.0          2.869565                23.0     None,Acoustic,Dive,Barcade,College          LOW     4.5     Aalborg  34.791667      0.333333        0.291667             0.250000             0
197       563  2021-01-03   22:00:00  01:00:00       251        57.0           29.0          2.379310                29.0                            Hookah,Loud         HIGH     3.3     Esbjerg  35.310345      0.344828        0.310345             0.241379             0
203       569  2025-02-28   19:00:00  01:00:00       183        36.0           18.0          3.875000                16.0                       None,Dive,Tavern          LOW     4.7     Esbjerg  36.611111      0.333333        0.333333             0.277778             0
239       604  2022-07-12   18:00:00  20:00:00        70        54.0           28.0          3.904762                21.0                                   None       MEDIUM     4.7  Copenhagen  33.214286      0.321429        0.357143             0.250000             0
241       606  2021-12-31   22:00:00  00:00:00       191        70.0           35.0          2.400000                25.0                                  Beach         HIGH     3.7     Aalborg  33.342857      0.457143        0.142857             0.171429             0
242       607  2021-12-10   21:00:00  23:00:00        23        48.0           24.0          4.105263                19.0                             Jazz,Young          LOW     4.9  Copenhagen  36.375000      0.208333        0.541667             0.208333             0
267       632  2021-07-16   22:00:00  02:00:00        22        46.0           23.0          3.400000                20.0                         Concept,Tavern         HIGH     3.1      Odense  32.347826      0.217391        0.521739             0.217391             0
283       648  2023-02-18   20:00:00  23:00:00        65        62.0           31.0          4.483871                31.0                           Dive,Art Bar         HIGH     4.6  Copenhagen  36.290323      0.354839        0.290323             0.193548             1
300       665  2025-03-27   19:00:00  21:00:00       236        51.0           26.0          3.227273                22.0         Techno,Local,Dive,Rooftop,Pool       MEDIUM     3.0    Roskilde  35.230769      0.307692        0.346154             0.153846             0
301       666  2024-10-16   22:00:00  04:00:00       109        46.0           23.0          4.352941                17.0                 Hotel,Low,Gastro,Young          LOW     4.3      Aarhus  37.782609      0.391304        0.347826             0.173913             0
327       692  2022-07-05   22:00:00  03:00:00        63        62.0           31.0          2.035714                28.0                            Jazz,Lounge       MEDIUM     3.4     Esbjerg  32.870968      0.290323        0.354839             0.193548             0
344       709  2021-04-16   19:00:00  01:00:00         7        53.0           27.0          2.315789                19.0                 Barcade,Brew,Jazz,Pool         HIGH     3.8     Esbjerg  32.814815      0.296296        0.444444             0.185185             0
361       726  2024-03-01   18:00:00  23:00:00       246        50.0           26.0          4.240000                25.0                Techno,Young,Dress Code          LOW     4.3      Odense  35.346154      0.269231        0.423077             0.153846             0
363       728  2021-03-06   17:00:00  19:00:00       279        54.0           27.0          4.423077                26.0                               Open,40+         HIGH     4.7    Roskilde  35.000000      0.370370        0.259259             0.222222             0
372       737  2023-03-19   18:00:00  21:00:00        86        48.0           24.0          4.500000                24.0                 Open Air,Dive,Rap,Club          LOW     3.6      Odense  32.083333      0.208333        0.500000             0.166667             0
378       743  2020-09-18   22:00:00  02:00:00       282        61.0           31.0          3.928571                28.0        Techno,Low,Gastro,Rooftop,Beach          LOW     3.9  Copenhagen  34.677419      0.483871        0.290323             0.193548             0
401       766  2023-01-10   18:00:00  22:00:00       253        46.0           23.0          4.142857                21.0       Young,Loud,DJ,Medium,Inn,Karaoke         HIGH     3.2      Aarhus  31.304348      0.347826        0.391304             0.173913             0
416       781  2024-10-09   17:00:00  21:00:00       227        46.0           23.0          3.727273                22.0              Tourists,Indie,Gastro,Pop       MEDIUM     3.1     Randers  37.695652      0.391304        0.260870             0.217391             0
436       801  2022-09-02   22:00:00  01:00:00       271        58.0           29.0          3.434783                23.0                                   Live         HIGH     3.7     Randers  33.379310      0.379310        0.379310             0.172414             0
442       807  2024-04-17   18:00:00  20:00:00       121        59.0           30.0          3.576923                26.0       Pop,LGBTQ,Acoustic,Custom,Sports         HIGH     4.6       Vejle  34.333333      0.466667        0.200000             0.166667             0
449       814  2021-10-21   21:00:00  02:00:00       233        51.0           26.0          4.043478                23.0                 Dive,Rave,Young,Lounge         HIGH     4.0     Kolding  33.269231      0.346154        0.346154             0.192308             0
469       834  2020-10-10   20:00:00  00:00:00       251        50.0           25.0          2.916667                24.0                             Dive,LGBTQ         HIGH     3.3     Esbjerg  32.360000      0.360000        0.360000             0.200000             0
484       849  2024-11-29   18:00:00  00:00:00        93        50.0           25.0          3.958333                24.0                 Open Air,DJ,Pop,Custom       MEDIUM     4.0       Vejle  32.960000      0.320000        0.480000             0.200000             0
489       854  2022-11-06   19:00:00  21:00:00       285        59.0           30.0          3.533333                30.0                            Brew,DJ,Rap       MEDIUM     4.1     Randers  31.966667      0.300000        0.333333             0.200000             1

### Check how balanced success flag is

In [8]:
print(df_merged["success_flag"].value_counts(normalize=True))

success_flag
0    0.956938
1    0.043062
Name: proportion, dtype: float64

#### Add 'has_demographics' so model understands whether he can rely on demographics data

In [9]:
df_merged["has_demographics"] = (df_merged["avg_age"] > 0).astype(int)

## Ordinal encoding

In [10]:
df_merged["price_rating"] = df_merged["price_rating"].str.upper()
price_map = {"LOW": 1, "MEDIUM": 2, "HIGH": 3}
df_merged["price_rating_encoded"] = df_merged["price_rating"].map(price_map)

df_merged["event_date"] = pd.to_datetime(df_merged["event_date"])
df_merged["start_time"] = pd.to_datetime(df_merged["start_time"], format="%H:%M:%S").dt.time
df_merged["end_time"] = pd.to_datetime(df_merged["end_time"], format="%H:%M:%S").dt.time



pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df_merged.head(50))

     event_id event_date start_time  end_time  venue_id  like_count  checkin_count  avg_event_rating  event_rating_count                                   tags price_rating  rating        city    avg_age  percent_male  percent_female  percent_local_users  success_flag  has_demographics  price_rating_encoded
1           2 2025-03-14   21:00:00  22:00:00        72        44.0           34.0          2.857143                28.0                              Rave,Jazz       MEDIUM     4.7  Copenhagen  32.636364      0.470588        0.323529             0.176471             0                 1                     2
7           8 2025-03-28   19:00:00  20:00:00        80        34.0           27.0          4.136364                22.0                     Street,Techno,Jazz         HIGH     4.3     Aalborg  31.888889      0.444444        0.333333             0.185185             0                 1                     3
8           9 2025-03-13   19:00:00  22:00:00       195        38.0           32.0          3.206897                29.0                         Barcade,Tavern          LOW     3.2     Aalborg  36.093750      0.468750        0.343750             0.250000             0                 1                     1
9          10 2025-03-06   20:00:00  21:00:00       136        50.0           37.0          4.464286                28.0                        Barcade,Low,40+          LOW     3.2       Vejle  33.540541      0.486486        0.270270             0.189189             0                 1                     1
10         11 2025-05-10   19:00:00  22:00:00        41        53.0           35.0          3.555556                27.0                              Rave,Live          LOW     4.8       Vejle  31.171429      0.314286        0.342857             0.171429             0                 1                     1
11         12 2025-05-30   17:00:00  18:00:00        99        42.0           31.0          3.640000                25.0                      DJ,Art Bar,Lounge         HIGH     3.7      Aarhus  35.548387      0.354839        0.419355             0.258065             0                 1                     3
12         13 2025-04-07   17:00:00  19:00:00       117        48.0           30.0          3.833333                30.0                           DJ,Dive,Club          LOW     3.0  Copenhagen  36.137931      0.366667        0.300000             0.166667             1                 1                     1
14         15 2025-03-21   19:00:00  22:00:00       187        38.0           33.0          3.923077                26.0                             Local,Live       MEDIUM     3.8     Randers  33.303030      0.242424        0.363636             0.212121             0                 1                     2
18         19 2025-04-10   20:00:00  23:00:00        17        59.0           43.0          3.400000                25.0                       DJ,Indie,Student       MEDIUM     4.1  Copenhagen  32.325581      0.395349        0.302326             0.186047             0                 1                     2
19         20 2025-05-12   19:00:00  21:00:00       109        40.0           31.0          2.344828                29.0                                  Young          LOW     4.3      Aarhus  34.354839      0.354839        0.387097             0.161290             0                 1                     1
31        398 2025-04-27   20:00:00  01:00:00        30        48.0           24.0          4.086957                23.0            None,Dress Code,Pop,Art Bar       MEDIUM     3.3      Aarhus  35.125000      0.500000        0.250000             0.208333             0                 1                     2
38        405 2025-04-28   19:00:00  23:00:00        27        38.0           19.0          2.823529                17.0                        Rooftop,College          LOW     4.4     Aalborg  29.315789      0.210526        0.210526             0.210526             0                 1                     1
40        407 2025-04-14   18:00:00  23:00:00        27        58.0           30.0          3.413793                29.0                      Street,Rave,Beach          LOW     4.4     Aalborg  37.866667      0.266667        0.333333             0.233333             0                 1                     1
45        412 2025-04-22   20:00:00  22:00:00        13        42.0           21.0          2.333333                15.0      Student,Loud,Jazz,Pub,Club,Custom          LOW     3.7     Horsens  36.666667      0.285714        0.428571             0.238095             0                 1                     1
47        414 2025-04-21   18:00:00  00:00:00         9        48.0           24.0          2.857143                21.0                Barcade,Inn,Mixed Crowd         HIGH     4.4     Esbjerg  34.833333      0.416667        0.458333             0.208333             0                 1                     3
48        415 2025-04-11   18:00:00  01:00:00        11        54.0           27.0          4.421053                19.0                      Techno,Indie,Club       MEDIUM     3.1     Aalborg  34.703704      0.259259        0.259259             0.222222             0                 1                     2
83        450 2021-08-09   18:00:00  20:00:00       266        64.0           32.0          2.578947                19.0                None,Tourists,Live,High       MEDIUM     4.2    Roskilde  34.593750      0.218750        0.468750             0.218750             0                 1                     2
96        463 2021-04-27   20:00:00  02:00:00       299        42.0           22.0          4.227273                22.0                  Concept,Local,Rap,Pub         HIGH     4.0     Randers  34.636364      0.136364        0.500000             0.272727             0                 1                     3
109       475 2022-09-23   22:00:00  00:00:00       203        46.0           23.0          3.523810                21.0               Acoustic,Tourists,Medium         HIGH     3.9      Odense  36.086957      0.304348        0.304348             0.217391             0                 1                     3
124       490 2024-10-20   20:00:00  02:00:00        35        46.0           23.0          3.565217                23.0            Street,Indie,Jazz,High,Dive         HIGH     4.7      Odense  34.869565      0.260870        0.347826             0.217391             0                 1                     3
131       497 2023-02-11   20:00:00  01:00:00        61        46.0           23.0          1.809524                21.0                        Karaoke,Pub,40+       MEDIUM     3.7     Horsens  37.130435      0.260870        0.347826             0.173913             0                 1                     2
157       523 2021-07-31   19:00:00  23:00:00       174        54.0           28.0          3.833333                24.0  Techno,Dress Code,Rave,Gastro,Rooftop          LOW     3.7  Copenhagen  35.250000      0.392857        0.214286             0.214286             0                 1                     1
168       534 2024-07-26   21:00:00  00:00:00       107        48.0           24.0          3.458333                24.0                   LGBTQ,Low,Pub,Tavern       MEDIUM     4.1     Esbjerg  33.208333      0.333333        0.250000             0.208333             0                 1                     2
173       539 2020-12-26   18:00:00  20:00:00       120        44.0           22.0          4.238095                21.0                 Tourists,Brew,Pub,High         HIGH     3.0      Odense  33.227273      0.409091        0.136364             0.272727             0                 1                     3
174       540 2023-12-26   17:00:00  23:00:00       156        64.0           32.0          3.260870                23.0                     None,Techno,Gastro       MEDIUM     3.2      Aarhus  34.968750      0.437500        0.281250             0.187500             0                 1                     2
187       553 2021-06-20   19:00:00  23:00:00        14        61.0           31.0          2.807692                26.0            House,LGBTQ,Loud,Club,Beach          LOW     3.6      Aarhus  32.612903      0.387097        0.161290             0.161290             0                 1                     1
193       559 2020-11-06   19:00:00  22:00:00       148        48.0           24.0          2.869565                23.0     None,Acoustic,Dive,Barcade,College          LOW     4.5     Aalborg  34.791667      0.333333        0.291667             0.250000             0                 1                     1
197       563 2021-01-03   22:00:00  01:00:00       251        57.0           29.0          2.379310                29.0                            Hookah,Loud         HIGH     3.3     Esbjerg  35.310345      0.344828        0.310345             0.241379             0                 1                     3
203       569 2025-02-28   19:00:00  01:00:00       183        36.0           18.0          3.875000                16.0                       None,Dive,Tavern          LOW     4.7     Esbjerg  36.611111      0.333333        0.333333             0.277778             0                 1                     1
239       604 2022-07-12   18:00:00  20:00:00        70        54.0           28.0          3.904762                21.0                                   None       MEDIUM     4.7  Copenhagen  33.214286      0.321429        0.357143             0.250000             0                 1                     2
241       606 2021-12-31   22:00:00  00:00:00       191        70.0           35.0          2.400000                25.0                                  Beach         HIGH     3.7     Aalborg  33.342857      0.457143        0.142857             0.171429             0                 1                     3
242       607 2021-12-10   21:00:00  23:00:00        23        48.0           24.0          4.105263                19.0                             Jazz,Young          LOW     4.9  Copenhagen  36.375000      0.208333        0.541667             0.208333             0                 1                     1
267       632 2021-07-16   22:00:00  02:00:00        22        46.0           23.0          3.400000                20.0                         Concept,Tavern         HIGH     3.1      Odense  32.347826      0.217391        0.521739             0.217391             0                 1                     3
283       648 2023-02-18   20:00:00  23:00:00        65        62.0           31.0          4.483871                31.0                           Dive,Art Bar         HIGH     4.6  Copenhagen  36.290323      0.354839        0.290323             0.193548             1                 1                     3
300       665 2025-03-27   19:00:00  21:00:00       236        51.0           26.0          3.227273                22.0         Techno,Local,Dive,Rooftop,Pool       MEDIUM     3.0    Roskilde  35.230769      0.307692        0.346154             0.153846             0                 1                     2
301       666 2024-10-16   22:00:00  04:00:00       109        46.0           23.0          4.352941                17.0                 Hotel,Low,Gastro,Young          LOW     4.3      Aarhus  37.782609      0.391304        0.347826             0.173913             0                 1                     1
327       692 2022-07-05   22:00:00  03:00:00        63        62.0           31.0          2.035714                28.0                            Jazz,Lounge       MEDIUM     3.4     Esbjerg  32.870968      0.290323        0.354839             0.193548             0                 1                     2
344       709 2021-04-16   19:00:00  01:00:00         7        53.0           27.0          2.315789                19.0                 Barcade,Brew,Jazz,Pool         HIGH     3.8     Esbjerg  32.814815      0.296296        0.444444             0.185185             0                 1                     3
361       726 2024-03-01   18:00:00  23:00:00       246        50.0           26.0          4.240000                25.0                Techno,Young,Dress Code          LOW     4.3      Odense  35.346154      0.269231        0.423077             0.153846             0                 1                     1
363       728 2021-03-06   17:00:00  19:00:00       279        54.0           27.0          4.423077                26.0                               Open,40+         HIGH     4.7    Roskilde  35.000000      0.370370        0.259259             0.222222             0                 1                     3
372       737 2023-03-19   18:00:00  21:00:00        86        48.0           24.0          4.500000                24.0                 Open Air,Dive,Rap,Club          LOW     3.6      Odense  32.083333      0.208333        0.500000             0.166667             0                 1                     1
378       743 2020-09-18   22:00:00  02:00:00       282        61.0           31.0          3.928571                28.0        Techno,Low,Gastro,Rooftop,Beach          LOW     3.9  Copenhagen  34.677419      0.483871        0.290323             0.193548             0                 1                     1
401       766 2023-01-10   18:00:00  22:00:00       253        46.0           23.0          4.142857                21.0       Young,Loud,DJ,Medium,Inn,Karaoke         HIGH     3.2      Aarhus  31.304348      0.347826        0.391304             0.173913             0                 1                     3
416       781 2024-10-09   17:00:00  21:00:00       227        46.0           23.0          3.727273                22.0              Tourists,Indie,Gastro,Pop       MEDIUM     3.1     Randers  37.695652      0.391304        0.260870             0.217391             0                 1                     2
436       801 2022-09-02   22:00:00  01:00:00       271        58.0           29.0          3.434783                23.0                                   Live         HIGH     3.7     Randers  33.379310      0.379310        0.379310             0.172414             0                 1                     3
442       807 2024-04-17   18:00:00  20:00:00       121        59.0           30.0          3.576923                26.0       Pop,LGBTQ,Acoustic,Custom,Sports         HIGH     4.6       Vejle  34.333333      0.466667        0.200000             0.166667             0                 1                     3
449       814 2021-10-21   21:00:00  02:00:00       233        51.0           26.0          4.043478                23.0                 Dive,Rave,Young,Lounge         HIGH     4.0     Kolding  33.269231      0.346154        0.346154             0.192308             0                 1                     3
469       834 2020-10-10   20:00:00  00:00:00       251        50.0           25.0          2.916667                24.0                             Dive,LGBTQ         HIGH     3.3     Esbjerg  32.360000      0.360000        0.360000             0.200000             0                 1                     3
484       849 2024-11-29   18:00:00  00:00:00        93        50.0           25.0          3.958333                24.0                 Open Air,DJ,Pop,Custom       MEDIUM     4.0       Vejle  32.960000      0.320000        0.480000             0.200000             0                 1                     2
489       854 2022-11-06   19:00:00  21:00:00       285        59.0           30.0          3.533333                30.0                            Brew,DJ,Rap       MEDIUM     4.1     Randers  31.966667      0.300000        0.333333             0.200000             1                 1                     2

### Ordinal encoding of tags - Since tags do not follow frequency like Low->Medium-> High. We count matching tags and assign ordinal values to them.

In [11]:
# Step 1: Split all tags and count frequency
from collections import Counter

# Split tags and flatten list
all_tags = df_merged["tags"].dropna().str.split(",").sum()
tag_counts = Counter(all_tags)

# Step 2: Assign ordinal codes (most common gets lowest code)
sorted_tags = [tag for tag, _ in tag_counts.most_common()]
tag_to_code = {tag: idx for idx, tag in enumerate(sorted_tags)}

# Step 3: Map encoded tags back to each row (as list of ints)
def encode_tag_list(tag_str):
    if pd.isna(tag_str) or tag_str.strip() == "":
        return []
    return [tag_to_code[tag] for tag in tag_str.split(",") if tag in tag_to_code]

df_merged["tags_encoded"] = df_merged["tags"].apply(encode_tag_list)
print(df_merged[["tags", "tags_encoded"]].head(10))

                  tags  tags_encoded
1            Rave,Jazz        [7, 8]
7   Street,Techno,Jazz    [34, 5, 8]
8       Barcade,Tavern      [13, 11]
9      Barcade,Low,40+  [13, 14, 27]
10           Rave,Live       [7, 19]
11   DJ,Art Bar,Lounge   [3, 30, 28]
12        DJ,Dive,Club    [3, 6, 12]
14          Local,Live      [33, 19]
18    DJ,Indie,Student   [3, 17, 32]
19               Young          [31]

NEW Features to help model

In [12]:
df_exploded = df_merged.explode("tags_encoded")


df_exploded = df_exploded.dropna(subset=["tags_encoded"])


tag_stats = df_exploded.groupby("tags_encoded").agg(
    avg_likes_per_tag=("like_count", "mean"),
    avg_checkins_per_tag=("checkin_count", "mean"),
    avg_rating_per_tag=("avg_event_rating", "mean")
).reset_index()


df_with_tags = df_merged[["event_id", "tags_encoded"]].explode("tags_encoded").dropna()
df_with_tags = df_with_tags.merge(tag_stats, on="tags_encoded", how="left")


event_tag_means = df_with_tags.groupby("event_id").agg(
    expected_likes=("avg_likes_per_tag", "mean"),
    expected_checkins=("avg_checkins_per_tag", "mean"),
    expected_rating=("avg_rating_per_tag", "mean")
).reset_index()


df_merged = df_merged.drop(columns=["expected_likes", "expected_checkins", "expected_rating"], errors="ignore")
df_merged = df_merged.merge(event_tag_means, on="event_id", how="left")

df_merged = df_merged[
    (df_merged['expected_likes'] != 0) &
    (df_merged['expected_checkins'] != 0) &
    (df_merged['expected_rating'] != 0)
]

print(df_merged.head(50))

    event_id event_date start_time  end_time  venue_id  like_count  checkin_count  avg_event_rating  event_rating_count                                   tags price_rating  rating        city    avg_age  percent_male  percent_female  percent_local_users  success_flag  has_demographics  price_rating_encoded             tags_encoded  expected_likes  expected_checkins  expected_rating
0          2 2025-03-14   21:00:00  22:00:00        72        44.0           34.0          2.857143                28.0                              Rave,Jazz       MEDIUM     4.7  Copenhagen  32.636364      0.470588        0.323529             0.176471             0                 1                     2                   [7, 8]       50.493506          25.746753         3.424354
1          8 2025-03-28   19:00:00  20:00:00        80        34.0           27.0          4.136364                22.0                     Street,Techno,Jazz         HIGH     4.3     Aalborg  31.888889      0.444444        0.333333             0.185185             0                 1                     3               [34, 5, 8]       50.266524          25.563246         3.424683
2          9 2025-03-13   19:00:00  22:00:00       195        38.0           32.0          3.206897                29.0                         Barcade,Tavern          LOW     3.2     Aalborg  36.093750      0.468750        0.343750             0.250000             0                 1                     1                 [13, 11]       50.976934          26.003980         3.412297
3         10 2025-03-06   20:00:00  21:00:00       136        50.0           37.0          4.464286                28.0                        Barcade,Low,40+          LOW     3.2       Vejle  33.540541      0.486486        0.270270             0.189189             0                 1                     1             [13, 14, 27]       50.714458          25.866891         3.442430
4         11 2025-05-10   19:00:00  22:00:00        41        53.0           35.0          3.555556                27.0                              Rave,Live          LOW     4.8       Vejle  31.171429      0.314286        0.342857             0.171429             0                 1                     1                  [7, 19]       50.732041          25.907670         3.426303
5         12 2025-05-30   17:00:00  18:00:00        99        42.0           31.0          3.640000                25.0                      DJ,Art Bar,Lounge         HIGH     3.7      Aarhus  35.548387      0.354839        0.419355             0.258065             0                 1                     3              [3, 30, 28]       50.827751          25.935373         3.401600
6         13 2025-04-07   17:00:00  19:00:00       117        48.0           30.0          3.833333                30.0                           DJ,Dive,Club          LOW     3.0  Copenhagen  36.137931      0.366667        0.300000             0.166667             1                 1                     1               [3, 6, 12]       50.996458          25.922160         3.440540
7         15 2025-03-21   19:00:00  22:00:00       187        38.0           33.0          3.923077                26.0                             Local,Live       MEDIUM     3.8     Randers  33.303030      0.242424        0.363636             0.212121             0                 1                     2                 [33, 19]       50.190104          25.651042         3.470979
8         19 2025-04-10   20:00:00  23:00:00        17        59.0           43.0          3.400000                25.0                       DJ,Indie,Student       MEDIUM     4.1  Copenhagen  32.325581      0.395349        0.302326             0.186047             0                 1                     2              [3, 17, 32]       50.799416          25.937118         3.470083
9         20 2025-05-12   19:00:00  21:00:00       109        40.0           31.0          2.344828                29.0                                  Young          LOW     4.3      Aarhus  34.354839      0.354839        0.387097             0.161290             0                 1                     1                     [31]       50.549020          25.686275         3.197796
10       398 2025-04-27   20:00:00  01:00:00        30        48.0           24.0          4.086957                23.0            None,Dress Code,Pop,Art Bar       MEDIUM     3.3      Aarhus  35.125000      0.500000        0.250000             0.208333             0                 1                     2           [4, 40, 0, 30]       51.180160          25.939861         3.425180
11       405 2025-04-28   19:00:00  23:00:00        27        38.0           19.0          2.823529                17.0                        Rooftop,College          LOW     4.4     Aalborg  29.315789      0.210526        0.210526             0.210526             0                 1                     1                 [21, 46]       50.254348          25.401812         3.541031
12       407 2025-04-14   18:00:00  23:00:00        27        58.0           30.0          3.413793                29.0                      Street,Rave,Beach          LOW     4.4     Aalborg  37.866667      0.266667        0.333333             0.233333             0                 1                     1              [34, 7, 36]       51.522091          26.182709         3.416170
13       412 2025-04-22   20:00:00  22:00:00        13        42.0           21.0          2.333333                15.0      Student,Loud,Jazz,Pub,Club,Custom          LOW     3.7     Horsens  36.666667      0.285714        0.428571             0.238095             0                 1                     1  [32, 10, 8, 18, 12, 41]       50.380308          25.535613         3.406939
14       414 2025-04-21   18:00:00  00:00:00         9        48.0           24.0          2.857143                21.0                Barcade,Inn,Mixed Crowd         HIGH     4.4     Esbjerg  34.833333      0.416667        0.458333             0.208333             0                 1                     3             [13, 24, 15]       50.439650          25.635496         3.483879
15       415 2025-04-11   18:00:00  01:00:00        11        54.0           27.0          4.421053                19.0                      Techno,Indie,Club       MEDIUM     3.1     Aalborg  34.703704      0.259259        0.259259             0.222222             0                 1                     2              [5, 17, 12]       50.155568          25.459530         3.463992
16       450 2021-08-09   18:00:00  20:00:00       266        64.0           32.0          2.578947                19.0                None,Tourists,Live,High       MEDIUM     4.2    Roskilde  34.593750      0.218750        0.468750             0.218750             0                 1                     2          [4, 25, 19, 22]       50.806475          25.756787         3.452720
17       463 2021-04-27   20:00:00  02:00:00       299        42.0           22.0          4.227273                22.0                  Concept,Local,Rap,Pub         HIGH     4.0     Randers  34.636364      0.136364        0.500000             0.272727             0                 1                     3          [37, 33, 2, 18]       50.130590          25.384136         3.500466
18       475 2022-09-23   22:00:00  00:00:00       203        46.0           23.0          3.523810                21.0               Acoustic,Tourists,Medium         HIGH     3.9      Odense  36.086957      0.304348        0.304348             0.217391             0                 1                     3              [1, 25, 16]       50.596550          25.589627         3.378789
19       490 2024-10-20   20:00:00  02:00:00        35        46.0           23.0          3.565217                23.0            Street,Indie,Jazz,High,Dive         HIGH     4.7      Odense  34.869565      0.260870        0.347826             0.217391             0                 1                     3       [34, 17, 8, 22, 6]       50.859312          25.818435         3.437930
20       497 2023-02-11   20:00:00  01:00:00        61        46.0           23.0          1.809524                21.0                        Karaoke,Pub,40+       MEDIUM     3.7     Horsens  37.130435      0.260870        0.347826             0.173913             0                 1                     2             [43, 18, 27]       50.249295          25.432530         3.330971
21       523 2021-07-31   19:00:00  23:00:00       174        54.0           28.0          3.833333                24.0  Techno,Dress Code,Rave,Gastro,Rooftop          LOW     3.7  Copenhagen  35.250000      0.392857        0.214286             0.214286             0                 1                     1       [5, 40, 7, 26, 21]       50.388917          25.562165         3.457022
22       534 2024-07-26   21:00:00  00:00:00       107        48.0           24.0          3.458333                24.0                   LGBTQ,Low,Pub,Tavern       MEDIUM     4.1     Esbjerg  33.208333      0.333333        0.250000             0.208333             0                 1                     2         [23, 14, 18, 11]       51.170532          25.919577         3.455628
23       539 2020-12-26   18:00:00  20:00:00       120        44.0           22.0          4.238095                21.0                 Tourists,Brew,Pub,High         HIGH     3.0      Odense  33.227273      0.409091        0.136364             0.272727             0                 1                     3         [25, 29, 18, 22]       50.595993          25.549867         3.456022
24       540 2023-12-26   17:00:00  23:00:00       156        64.0           32.0          3.260870                23.0                     None,Techno,Gastro       MEDIUM     3.2      Aarhus  34.968750      0.437500        0.281250             0.187500             0                 1                     2               [4, 5, 26]       50.380203          25.525087         3.446619
25       553 2021-06-20   19:00:00  23:00:00        14        61.0           31.0          2.807692                26.0            House,LGBTQ,Loud,Club,Beach          LOW     3.6      Aarhus  32.612903      0.387097        0.161290             0.161290             0                 1                     1      [9, 23, 10, 12, 36]       51.534409          26.040232         3.421480
26       559 2020-11-06   19:00:00  22:00:00       148        48.0           24.0          2.869565                23.0     None,Acoustic,Dive,Barcade,College          LOW     4.5     Aalborg  34.791667      0.333333        0.291667             0.250000             0                 1                     1        [4, 1, 6, 13, 46]       50.715084          25.725009         3.453744
27       563 2021-01-03   22:00:00  01:00:00       251        57.0           29.0          2.379310                29.0                            Hookah,Loud         HIGH     3.3     Esbjerg  35.310345      0.344828        0.310345             0.241379             0                 1                     3                 [45, 10]       50.792500          25.699167         3.357776
28       569 2025-02-28   19:00:00  01:00:00       183        36.0           18.0          3.875000                16.0                       None,Dive,Tavern          LOW     4.7     Esbjerg  36.611111      0.333333        0.333333             0.277778             0                 1                     1               [4, 6, 11]       51.402315          26.063207         3.433766
29       604 2022-07-12   18:00:00  20:00:00        70        54.0           28.0          3.904762                21.0                                   None       MEDIUM     4.7  Copenhagen  33.214286      0.321429        0.357143             0.250000             0                 1                     2                      [4]       51.788235          26.223529         3.493300
30       606 2021-12-31   22:00:00  00:00:00       191        70.0           35.0          2.400000                25.0                                  Beach         HIGH     3.7     Aalborg  33.342857      0.457143        0.142857             0.171429             0                 1                     3                     [36]       52.205882          26.411765         3.394429
31       607 2021-12-10   21:00:00  23:00:00        23        48.0           24.0          4.105263                19.0                             Jazz,Young          LOW     4.9  Copenhagen  36.375000      0.208333        0.541667             0.208333             0                 1                     1                  [8, 31]       50.371912          25.635345         3.292171
32       632 2021-07-16   22:00:00  02:00:00        22        46.0           23.0          3.400000                20.0                         Concept,Tavern         HIGH     3.1      Odense  32.347826      0.217391        0.521739             0.217391             0                 1                     3                 [37, 11]       51.553350          26.112676         3.402488
33       648 2023-02-18   20:00:00  23:00:00        65        62.0           31.0          4.483871                31.0                           Dive,Art Bar         HIGH     4.6  Copenhagen  36.290323      0.354839        0.290323             0.193548             1                 1                     3                  [6, 30]       50.550835          25.674292         3.387609
34       665 2025-03-27   19:00:00  21:00:00       236        51.0           26.0          3.227273                22.0         Techno,Local,Dive,Rooftop,Pool       MEDIUM     3.0    Roskilde  35.230769      0.307692        0.346154             0.153846             0                 1                     2       [5, 33, 6, 21, 48]       50.452311          25.609416         3.492944
35       666 2024-10-16   22:00:00  04:00:00       109        46.0           23.0          4.352941                17.0                 Hotel,Low,Gastro,Young          LOW     4.3      Aarhus  37.782609      0.391304        0.347826             0.173913             0                 1                     1         [20, 14, 26, 31]       50.783490          25.749962         3.387955
36       692 2022-07-05   22:00:00  03:00:00        63        62.0           31.0          2.035714                28.0                            Jazz,Lounge       MEDIUM     3.4     Esbjerg  32.870968      0.290323        0.354839             0.193548             0                 1                     2                  [8, 28]       50.374188          25.667208         3.368883
37       709 2021-04-16   19:00:00  01:00:00         7        53.0           27.0          2.315789                19.0                 Barcade,Brew,Jazz,Pool         HIGH     3.8     Esbjerg  32.814815      0.296296        0.444444             0.185185             0                 1                     3          [13, 29, 8, 48]       51.141195          26.011613         3.417724
38       726 2024-03-01   18:00:00  23:00:00       246        50.0           26.0          4.240000                25.0                Techno,Young,Dress Code          LOW     4.3      Odense  35.346154      0.269231        0.423077             0.153846             0                 1                     1              [5, 31, 40]       50.161868          25.465886         3.367422
39       728 2021-03-06   17:00:00  19:00:00       279        54.0           27.0          4.423077                26.0                               Open,40+         HIGH     4.7    Roskilde  35.000000      0.370370        0.259259             0.222222             0                 1                     3                 [44, 27]       50.403571          25.521786         3.378610
40       737 2023-03-19   18:00:00  21:00:00        86        48.0           24.0          4.500000                24.0                 Open Air,Dive,Rap,Club          LOW     3.6      Odense  32.083333      0.208333        0.500000             0.166667             0                 1                     1           [47, 6, 2, 12]       50.645226          25.597504         3.481001
41       743 2020-09-18   22:00:00  02:00:00       282        61.0           31.0          3.928571                28.0        Techno,Low,Gastro,Rooftop,Beach          LOW     3.9  Copenhagen  34.677419      0.483871        0.290323             0.193548             0                 1                     1      [5, 14, 26, 21, 36]       50.726434          25.698931         3.458311
42       766 2023-01-10   18:00:00  22:00:00       253        46.0           23.0          4.142857                21.0       Young,Loud,DJ,Medium,Inn,Karaoke         HIGH     3.2      Aarhus  31.304348      0.347826        0.391304             0.173913             0                 1                     3  [31, 10, 3, 16, 24, 43]       50.954794          25.830878         3.311191
43       781 2024-10-09   17:00:00  21:00:00       227        46.0           23.0          3.727273                22.0              Tourists,Indie,Gastro,Pop       MEDIUM     3.1     Randers  37.695652      0.391304        0.260870             0.217391             0                 1                     2          [25, 17, 26, 0]       50.744804          25.693050         3.416685
44       801 2022-09-02   22:00:00  01:00:00       271        58.0           29.0          3.434783                23.0                                   Live         HIGH     3.7     Randers  33.379310      0.379310        0.379310             0.172414             0                 1                     3                     [19]       50.671875          25.906250         3.390444
45       807 2024-04-17   18:00:00  20:00:00       121        59.0           30.0          3.576923                26.0       Pop,LGBTQ,Acoustic,Custom,Sports         HIGH     4.6       Vejle  34.333333      0.466667        0.200000             0.166667             0                 1                     3       [0, 23, 1, 41, 38]       51.334865          25.900200         3.424410
46       814 2021-10-21   21:00:00  02:00:00       233        51.0           26.0          4.043478                23.0                 Dive,Rave,Young,Lounge         HIGH     4.0     Kolding  33.269231      0.346154        0.346154             0.192308             0                 1                     3           [6, 7, 31, 28]       50.680490          25.771527         3.355722
47       834 2020-10-10   20:00:00  00:00:00       251        50.0           25.0          2.916667                24.0                             Dive,LGBTQ         HIGH     3.3     Esbjerg  32.360000      0.360000        0.360000             0.200000             0                 1                     3                  [6, 23]       51.671914          26.120370         3.437778
48       849 2024-11-29   18:00:00  00:00:00        93        50.0           25.0          3.958333                24.0                 Open Air,DJ,Pop,Custom       MEDIUM     4.0       Vejle  32.960000      0.320000        0.480000             0.200000             0                 1                     2           [47, 3, 0, 41]       51.373557          25.994811         3.454273
49       854 2022-11-06   19:00:00  21:00:00       285        59.0           30.0          3.533333                30.0                            Brew,DJ,Rap       MEDIUM     4.1     Randers  31.966667      0.300000        0.333333             0.200000             1                 1                     2               [29, 3, 2]       51.257410          26.004720         3.490021

### Since XGboost doesn't take in arrays into classifying output, we multi-hot encode these tags

In [13]:
mlb = MultiLabelBinarizer()
tags_multi_hot = mlb.fit_transform(df_merged["tags_encoded"])

# Step 2: Clean and flatten tag columns
tag_names = [str(cls).replace(" ", "_").replace("/", "_") for cls in mlb.classes_]
tags_df = pd.DataFrame(tags_multi_hot, columns=[f"type_tag_{name}" for name in tag_names])

# Step 3: Ensure all tag values are scalar integers
tags_df = tags_df.astype("int8")  # or "int32" if many rows

# Step 4: Reset index before merge to avoid nesting
tags_df.index = df_merged.index
df_merged = df_merged.reset_index(drop=True)

# Step 5: Concatenate the tag features
df_merged = pd.concat([df_merged, tags_df], axis=1)

### Same ordinal encoding for cities

In [14]:
# Frequency-based ordinal encoding
city_freq = df_merged["city"].value_counts().index.tolist()
city_to_code = {city: idx for idx, city in enumerate(city_freq)}
df_merged["city_encoded"] = df_merged["city"].map(city_to_code)

# Actual population mapping (Denmark example)
city_population_map = {
    "Copenhagen": 1340000,
    "Aarhus": 280000,
    "Odense": 180000,
    "Aalborg": 120000,
    "Esbjerg": 72000,
    "Randers": 62000,
    "Kolding": 61000,
    "Horsens": 59000,
    "Vejle": 57000,
    "Roskilde": 50000,
    "Unknown": 0
}
df_merged["city_population"] = df_merged["city"].map(city_population_map)

# Optional: Create categorical size label too
def pop_category(pop):
    if pop >= 500000:
        return "large"
    elif pop >= 100000:
        return "medium"
    elif pop > 0:
        return "small"
    else:
        return "unknown"

df_merged["city_size_category"] = df_merged["city_population"].apply(pop_category)

# Preview
print(df_merged[["city", "city_encoded", "city_population", "city_size_category"]].drop_duplicates().sort_values("city_encoded"))

          city  city_encoded  city_population city_size_category
5       Aarhus             0           280000             medium
16    Roskilde             1            50000              small
7      Randers             2            62000              small
0   Copenhagen             3          1340000              large
18      Odense             4           180000             medium
14     Esbjerg             5            72000              small
3        Vejle             6            57000              small
13     Horsens             7            59000              small
46     Kolding             8            61000              small
1      Aalborg             9           120000             medium

In [15]:
df_merged.head(50
    )

    event_id event_date start_time  end_time  venue_id  like_count  checkin_count  avg_event_rating  event_rating_count                                   tags price_rating  rating        city    avg_age  percent_male  percent_female  percent_local_users  success_flag  has_demographics  price_rating_encoded             tags_encoded  expected_likes  expected_checkins  expected_rating  type_tag_0  type_tag_1  type_tag_2  type_tag_3  type_tag_4  type_tag_5  type_tag_6  type_tag_7  type_tag_8  type_tag_9  type_tag_10  type_tag_11  type_tag_12  type_tag_13  type_tag_14  type_tag_15  type_tag_16  type_tag_17  type_tag_18  type_tag_19  type_tag_20  type_tag_21  type_tag_22  type_tag_23  type_tag_24  type_tag_25  type_tag_26  type_tag_27  type_tag_28  type_tag_29  type_tag_30  type_tag_31  type_tag_32  type_tag_33  type_tag_34  type_tag_35  type_tag_36  type_tag_37  type_tag_38  type_tag_39  type_tag_40  type_tag_41  type_tag_42  type_tag_43  type_tag_44  type_tag_45  type_tag_46  type_tag_47  type_tag_48  city_encoded  city_population city_size_category
0          2 2025-03-14   21:00:00  22:00:00        72        44.0           34.0          2.857143                28.0                              Rave,Jazz       MEDIUM     4.7  Copenhagen  32.636364      0.470588        0.323529             0.176471             0                 1                     2                   [7, 8]       50.493506          25.746753         3.424354           0           0           0           0           0           0           0           1           1           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             3          1340000              large
1          8 2025-03-28   19:00:00  20:00:00        80        34.0           27.0          4.136364                22.0                     Street,Techno,Jazz         HIGH     4.3     Aalborg  31.888889      0.444444        0.333333             0.185185             0                 1                     3               [34, 5, 8]       50.266524          25.563246         3.424683           0           0           0           0           0           1           0           0           1           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0             9           120000             medium
2          9 2025-03-13   19:00:00  22:00:00       195        38.0           32.0          3.206897                29.0                         Barcade,Tavern          LOW     3.2     Aalborg  36.093750      0.468750        0.343750             0.250000             0                 1                     1                 [13, 11]       50.976934          26.003980         3.412297           0           0           0           0           0           0           0           0           0           0            0            1            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             9           120000             medium
3         10 2025-03-06   20:00:00  21:00:00       136        50.0           37.0          4.464286                28.0                        Barcade,Low,40+          LOW     3.2       Vejle  33.540541      0.486486        0.270270             0.189189             0                 1                     1             [13, 14, 27]       50.714458          25.866891         3.442430           0           0           0           0           0           0           0           0           0           0            0            0            0            1            1            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             6            57000              small
4         11 2025-05-10   19:00:00  22:00:00        41        53.0           35.0          3.555556                27.0                              Rave,Live          LOW     4.8       Vejle  31.171429      0.314286        0.342857             0.171429             0                 1                     1                  [7, 19]       50.732041          25.907670         3.426303           0           0           0           0           0           0           0           1           0           0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             6            57000              small
5         12 2025-05-30   17:00:00  18:00:00        99        42.0           31.0          3.640000                25.0                      DJ,Art Bar,Lounge         HIGH     3.7      Aarhus  35.548387      0.354839        0.419355             0.258065             0                 1                     3              [3, 30, 28]       50.827751          25.935373         3.401600           0           0           0           1           0           0           0           0           0           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             0           280000             medium
6         13 2025-04-07   17:00:00  19:00:00       117        48.0           30.0          3.833333                30.0                           DJ,Dive,Club          LOW     3.0  Copenhagen  36.137931      0.366667        0.300000             0.166667             1                 1                     1               [3, 6, 12]       50.996458          25.922160         3.440540           0           0           0           1           0           0           1           0           0           0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             3          1340000              large
7         15 2025-03-21   19:00:00  22:00:00       187        38.0           33.0          3.923077                26.0                             Local,Live       MEDIUM     3.8     Randers  33.303030      0.242424        0.363636             0.212121             0                 1                     2                 [33, 19]       50.190104          25.651042         3.470979           0           0           0           0           0           0           0           0           0           0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             2            62000              small
8         19 2025-04-10   20:00:00  23:00:00        17        59.0           43.0          3.400000                25.0                       DJ,Indie,Student       MEDIUM     4.1  Copenhagen  32.325581      0.395349        0.302326             0.186047             0                 1                     2              [3, 17, 32]       50.799416          25.937118         3.470083           0           0           0           1           0           0           0           0           0           0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             3          1340000              large
9         20 2025-05-12   19:00:00  21:00:00       109        40.0           31.0          2.344828                29.0                                  Young          LOW     4.3      Aarhus  34.354839      0.354839        0.387097             0.161290             0                 1                     1                     [31]       50.549020          25.686275         3.197796           0           0           0           0           0           0           0           0           0           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             0           280000             medium
10       398 2025-04-27   20:00:00  01:00:00        30        48.0           24.0          4.086957                23.0            None,Dress Code,Pop,Art Bar       MEDIUM     3.3      Aarhus  35.125000      0.500000        0.250000             0.208333             0                 1                     2           [4, 40, 0, 30]       51.180160          25.939861         3.425180           1           0           0           0           1           0           0           0           0           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0             0           280000             medium
11       405 2025-04-28   19:00:00  23:00:00        27        38.0           19.0          2.823529                17.0                        Rooftop,College          LOW     4.4     Aalborg  29.315789      0.210526        0.210526             0.210526             0                 1                     1                 [21, 46]       50.254348          25.401812         3.541031           0           0           0           0           0           0           0           0           0           0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0             9           120000             medium
12       407 2025-04-14   18:00:00  23:00:00        27        58.0           30.0          3.413793                29.0                      Street,Rave,Beach          LOW     4.4     Aalborg  37.866667      0.266667        0.333333             0.233333             0                 1                     1              [34, 7, 36]       51.522091          26.182709         3.416170           0           0           0           0           0           0           0           1           0           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            1            0            0            0            0            0            0            0            0            0            0            0            0             9           120000             medium
13       412 2025-04-22   20:00:00  22:00:00        13        42.0           21.0          2.333333                15.0      Student,Loud,Jazz,Pub,Club,Custom          LOW     3.7     Horsens  36.666667      0.285714        0.428571             0.238095             0                 1                     1  [32, 10, 8, 18, 12, 41]       50.380308          25.535613         3.406939           0           0           0           0           0           0           0           0           1           0            1            0            1            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0             7            59000              small
14       414 2025-04-21   18:00:00  00:00:00         9        48.0           24.0          2.857143                21.0                Barcade,Inn,Mixed Crowd         HIGH     4.4     Esbjerg  34.833333      0.416667        0.458333             0.208333             0                 1                     3             [13, 24, 15]       50.439650          25.635496         3.483879           0           0           0           0           0           0           0           0           0           0            0            0            0            1            0            1            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             5            72000              small
15       415 2025-04-11   18:00:00  01:00:00        11        54.0           27.0          4.421053                19.0                      Techno,Indie,Club       MEDIUM     3.1     Aalborg  34.703704      0.259259        0.259259             0.222222             0                 1                     2              [5, 17, 12]       50.155568          25.459530         3.463992           0           0           0           0           0           1           0           0           0           0            0            0            1            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             9           120000             medium
16       450 2021-08-09   18:00:00  20:00:00       266        64.0           32.0          2.578947                19.0                None,Tourists,Live,High       MEDIUM     4.2    Roskilde  34.593750      0.218750        0.468750             0.218750             0                 1                     2          [4, 25, 19, 22]       50.806475          25.756787         3.452720           0           0           0           0           1           0           0           0           0           0            0            0            0            0            0            0            0            0            0            1            0            0            1            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             1            50000              small

In [16]:
import holidays

df_merged["event_weekday_num"] = df_merged["event_date"].dt.weekday  # 0=Monday, 6=Sunday

# Step 2: Flag holidays using Denmark's calendar
dk_holidays = holidays.country_holidays("DK")
df_merged["is_holiday"] = df_merged["event_date"].isin(dk_holidays).astype(int)
df_merged["event_weekday_num"] = df_merged["event_date"].dt.weekday


print(df_merged.head(10))

   event_id event_date start_time  end_time  venue_id  like_count  checkin_count  avg_event_rating  event_rating_count                tags price_rating  rating        city    avg_age  percent_male  percent_female  percent_local_users  success_flag  has_demographics  price_rating_encoded  tags_encoded  expected_likes  expected_checkins  expected_rating  type_tag_0  type_tag_1  type_tag_2  type_tag_3  type_tag_4  type_tag_5  type_tag_6  type_tag_7  type_tag_8  type_tag_9  type_tag_10  type_tag_11  type_tag_12  type_tag_13  type_tag_14  type_tag_15  type_tag_16  type_tag_17  type_tag_18  type_tag_19  type_tag_20  type_tag_21  type_tag_22  type_tag_23  type_tag_24  type_tag_25  type_tag_26  type_tag_27  type_tag_28  type_tag_29  type_tag_30  type_tag_31  type_tag_32  type_tag_33  type_tag_34  type_tag_35  type_tag_36  type_tag_37  type_tag_38  type_tag_39  type_tag_40  type_tag_41  type_tag_42  type_tag_43  type_tag_44  type_tag_45  type_tag_46  type_tag_47  type_tag_48  city_encoded  city_population city_size_category  event_weekday_num  is_holiday
0         2 2025-03-14   21:00:00  22:00:00        72        44.0           34.0          2.857143                28.0           Rave,Jazz       MEDIUM     4.7  Copenhagen  32.636364      0.470588        0.323529             0.176471             0                 1                     2        [7, 8]       50.493506          25.746753         3.424354           0           0           0           0           0           0           0           1           1           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             3          1340000              large                  4           0
1         8 2025-03-28   19:00:00  20:00:00        80        34.0           27.0          4.136364                22.0  Street,Techno,Jazz         HIGH     4.3     Aalborg  31.888889      0.444444        0.333333             0.185185             0                 1                     3    [34, 5, 8]       50.266524          25.563246         3.424683           0           0           0           0           0           1           0           0           1           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0             9           120000             medium                  4           0
2         9 2025-03-13   19:00:00  22:00:00       195        38.0           32.0          3.206897                29.0      Barcade,Tavern          LOW     3.2     Aalborg  36.093750      0.468750        0.343750             0.250000             0                 1                     1      [13, 11]       50.976934          26.003980         3.412297           0           0           0           0           0           0           0           0           0           0            0            1            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             9           120000             medium                  3           0
3        10 2025-03-06   20:00:00  21:00:00       136        50.0           37.0          4.464286                28.0     Barcade,Low,40+          LOW     3.2       Vejle  33.540541      0.486486        0.270270             0.189189             0                 1                     1  [13, 14, 27]       50.714458          25.866891         3.442430           0           0           0           0           0           0           0           0           0           0            0            0            0            1            1            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             6            57000              small                  3           0
4        11 2025-05-10   19:00:00  22:00:00        41        53.0           35.0          3.555556                27.0           Rave,Live          LOW     4.8       Vejle  31.171429      0.314286        0.342857             0.171429             0                 1                     1       [7, 19]       50.732041          25.907670         3.426303           0           0           0           0           0           0           0           1           0           0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             6            57000              small                  5           0
5        12 2025-05-30   17:00:00  18:00:00        99        42.0           31.0          3.640000                25.0   DJ,Art Bar,Lounge         HIGH     3.7      Aarhus  35.548387      0.354839        0.419355             0.258065             0                 1                     3   [3, 30, 28]       50.827751          25.935373         3.401600           0           0           0           1           0           0           0           0           0           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             0           280000             medium                  4           0
6        13 2025-04-07   17:00:00  19:00:00       117        48.0           30.0          3.833333                30.0        DJ,Dive,Club          LOW     3.0  Copenhagen  36.137931      0.366667        0.300000             0.166667             1                 1                     1    [3, 6, 12]       50.996458          25.922160         3.440540           0           0           0           1           0           0           1           0           0           0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             3          1340000              large                  0           0
7        15 2025-03-21   19:00:00  22:00:00       187        38.0           33.0          3.923077                26.0          Local,Live       MEDIUM     3.8     Randers  33.303030      0.242424        0.363636             0.212121             0                 1                     2      [33, 19]       50.190104          25.651042         3.470979           0           0           0           0           0           0           0           0           0           0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             2            62000              small                  4           0
8        19 2025-04-10   20:00:00  23:00:00        17        59.0           43.0          3.400000                25.0    DJ,Indie,Student       MEDIUM     4.1  Copenhagen  32.325581      0.395349        0.302326             0.186047             0                 1                     2   [3, 17, 32]       50.799416          25.937118         3.470083           0           0           0           1           0           0           0           0           0           0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             3          1340000              large                  3           0
9        20 2025-05-12   19:00:00  21:00:00       109        40.0           31.0          2.344828                29.0               Young          LOW     4.3      Aarhus  34.354839      0.354839        0.387097             0.161290             0                 1                     1          [31]       50.549020          25.686275         3.197796           0           0           0           0           0           0           0           0           0           0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0             0           280000             medium                  0           0

## Drop columns and run XGBOOST

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, classification_report
from xgboost import XGBClassifier
from IPython.display import display

drop_cols = ["tags", "tags_encoded", "event_date", "city","city_size_category", "success_flag","start_time","end_time","price_rating","event_id","like_count","checkin_count", "avg_event_rating", "venue_id","event_rating_count", "avg_age", "percent_male", "percent_female","percent_local_users", "has_demographics", "rating"]
X = df_merged.drop(columns=drop_cols)
y = df_merged["success_flag"]

# Step 6: Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)


# Step 7: Train XGBoost model
model = XGBClassifier(eval_metric="logloss", use_label_encoder=False, random_state=42)
model.fit(X_train, y_train)

# Step 8: Predict and evaluate
probs = model.predict_proba(X_test)[:, 1]
threshold = 0.00009
y_pred = (probs >= threshold).astype(int)
precision = precision_score(y_test, y_pred)
report = classification_report(y_test, y_pred, output_dict=True)
report_df = pd.DataFrame(report).transpose()


display(report_df)

c:\Python312\Lib\site-packages\xgboost\training.py:183: UserWarning: [20:27:21] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

              precision    recall  f1-score     support
0              0.954545  0.066456  0.124260  316.000000
1              0.057508  0.947368  0.108434   19.000000
accuracy       0.116418  0.116418  0.116418    0.116418
macro avg      0.506027  0.506912  0.116347  335.000000
weighted avg   0.903669  0.116418  0.123363  335.000000

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(X.head(500))

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

drop_cols = ["tags", "tags_encoded", "event_date", "city", "start_time","end_time","price_rating","event_id","like_count","checkin_count", "avg_event_rating", "venue_id","event_rating_count", "avg_age", "percent_male", "percent_female","percent_local_users", "has_demographics", "rating"]

# Include the target in the correlation matrix
X_corr = df_merged.drop(columns=drop_cols)  # Do NOT drop success_flag

# Compute the correlation matrix (including target)
corr_matrix = X_corr.corr()

# Plot the heatmap
plt.figure(figsize=(14, 12))
sns.heatmap(corr_matrix, cmap='coolwarm', annot=False, fmt=".2f", square=True, cbar_kws={"shrink": 0.8})
plt.title("Feature Correlation Matrix (Including success_flag)")
plt.tight_layout()
plt.show()

In [ ]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt

# Generate confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Display confusion matrix
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=model.classes_)
disp.plot(cmap="Blues")
plt.title("Confusion Matrix")
plt.show()

In [ ]:
from xgboost import plot_importance
import matplotlib.pyplot as plt

# Plot feature importance (based on number of splits)
plt.figure(figsize=(12, 8))
plot_importance(model, max_num_features=20, importance_type='gain')  # 'gain' is more informative than 'weight'
plt.title("Top 20 Feature Importances (XGBoost)")
plt.tight_layout()
plt.show()

In [ ]:
!pip install shap

In [ ]:
import shap

# Create SHAP explainer
explainer = shap.Explainer(model, X_train)  # Use X_train from before
shap_values = explainer(X_test)

# Summary plot: global feature importance
shap.summary_plot(shap_values, X_test, max_display=20)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, precision_score, confusion_matrix
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Load the latest DataFrame
# (Assuming df_merged is already in memory or reconstructed from previous code cells)
df = df_merged.copy()

# Select features
drop_cols = ["tags", "tags_encoded", "event_date", "city", "success_flag","start_time","end_time","price_rating","event_id","like_count","checkin_count", "avg_event_rating", "venue_id","event_rating_count", "avg_age", "percent_male", "percent_female","percent_local_users", "has_demographics", "rating"]
X = df.drop(columns=drop_cols, errors="ignore")
y = df["success_flag"]

# Fill missing values (LightGBM can handle NaNs, but safer to impute for stability)
X = X.fillna(0)

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Prepare LightGBM datasets
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_test, label=y_test)

# Define model parameters
params = {
    'objective': 'binary',
    'metric': 'binary_logloss',
    'boosting_type': 'gbdt',
    'learning_rate': 0.05,
    'num_leaves': 31,
    'verbose': -1,
    'random_state': 42
}

# Train the model
model = lgb.train(params, train_data, valid_sets=[test_data], num_boost_round=100)

# Predict probabilities and classify
y_probs = model.predict(X_test)
y_pred = (y_probs >= 0.5).astype(int)

# Evaluate
precision = precision_score(y_test, y_pred)
report = classification_report(y_test, y_pred, output_dict=True)
conf_matrix = confusion_matrix(y_test, y_pred)

# Create a visual report
report_df = pd.DataFrame(report).transpose()

# Display confusion matrix heatmap
plt.figure(figsize=(6, 4))
sns.heatmap(conf_matrix, annot=True, fmt="d", cmap="Blues", xticklabels=["Not Trending", "Trending"], yticklabels=["Not Trending", "Trending"])
plt.title("Confusion Matrix")
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.tight_layout()
plt.show()


# Show feature importance
lgb.plot_importance(model, max_num_features=20, importance_type='gain', figsize=(10, 6))
plt.title("Top 20 Feature Importances")
plt.tight_layout()
plt.show()

In [22]:
X["success_flag"] = y  # Add the target column
X.to_csv("event_model_dataset.csv", index=False)

In [ ]:
!pip install pandas scikit-learn tensorflow

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

# Load your dataset
df = pd.read_csv("event_model_dataset_PREPROCESSED.csv")

# Select relevant features
feature_columns = [
    'price_rating_encoded', 'expected_likes', 'expected_checkins', 'expected_rating',
    'city_encoded', 'event_weekday_num', 'is_holiday'
] + [f'type_tag_{i}' for i in range(50) if f'type_tag_{i}' in df.columns]

X = df[feature_columns]
y = df['success_flag']

# Impute missing values
imputer = SimpleImputer(strategy='mean')
X_imputed = imputer.fit_transform(X)

# Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_imputed)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Build the neural network
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')  # Binary output
])

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split=0.2, verbose=1)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

# Predict on test set
y_pred_prob = model.predict(X_test).flatten()
y_pred = (y_pred_prob > 0.5).astype(int)

# Print classification report and confusion matrix
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

In [ ]:
!pip install pandas scikit-learn tensorflow