In [4]:
from sqlalchemy import create_engine
import pandas as pd

# Fill in your actual PostgreSQL credentials here
username = 'postgres'
password = 'krisdan29'
host = 'localhost'  # e.g., 'localhost'
port = '5432'       # default PostgreSQL port
dbname = 'pnta'

# Create the engine
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{dbname}')

# Test the connection
with engine.connect() as conn:
    print("Connected:", not conn.closed)

Connected: True

Algorithm Nr. 1 - compute historical succsess of the venue and its events.

In [5]:
venue = pd.read_sql("SELECT * FROM pnta.venue", con=engine)
event = pd.read_sql("SELECT * FROM pnta.event", con=engine)
user_event_checkin = pd.read_sql("SELECT * FROM pnta.user_event_checkin", con=engine)
user_event_like = pd.read_sql("SELECT * FROM pnta.user_event_like", con=engine)
user_event_rating = pd.read_sql("SELECT * FROM pnta.user_event_rating", con=engine)

In [6]:
# Merge event with venue to associate events with venue metadata
event_venue = pd.merge(event, venue, on="venue_id", how="left")

# Aggregate user_event_checkin: count of check-ins per event
checkin_counts = user_event_checkin.groupby("event_id").size().reset_index(name="checkin_count")

# Aggregate user_event_like: count of likes per event
like_counts = user_event_like.groupby("event_id").size().reset_index(name="like_count")

# Aggregate user_event_rating: average rating and count per event
rating_agg = user_event_rating.groupby("event_id").agg(
    rating_avg=("rating", "mean"),
    rating_count=("rating", "count")
).reset_index()

# Merge all aggregates into event_venue
event_merged = event_venue.merge(checkin_counts, on="event_id", how="left")
event_merged = event_merged.merge(like_counts, on="event_id", how="left")
event_merged = event_merged.merge(rating_agg, on="event_id", how="left")

# Fill NaNs in counts with 0
event_merged["checkin_count"] = event_merged["checkin_count"].fillna(0).astype(int)
event_merged["like_count"] = event_merged["like_count"].fillna(0).astype(int)
event_merged["rating_count"] = event_merged["rating_count"].fillna(0).astype(int)
event_merged["rating_avg"] = event_merged["rating_avg"].fillna(0)


# Show the first few rows in your local notebook
event_merged.head(10)

,event_id,venue_id,name_x,description_x,event_date,start_time,end_time,created_at,description_y,manager_id,...,picture,price_rating,rating,close_hours,icon,open_hours,checkin_count,like_count,rating_avg,rating_count
0,1,58,Sharable bifurcated algorithm,"Sharable bifurcated algorithm with music, vibe...",2025-03-04,19:00:00,21:00:00,2025-02-22,"Club-inspired venue located in Copenhagen, kno...",7,...,http://placeimg.com/640/480/any,HIGH,4.1,00:00,club.png,19:00,21,29,4.272727,33
1,2,72,User-centric even-keeled encryption,User-centric even-keeled encryption with music...,2025-03-14,21:00:00,22:00:00,2025-02-21,"Young-inspired venue located in Copenhagen, kn...",3,...,http://placeimg.com/640/480/any,MEDIUM,4.7,23:00,bar.png,17:00,34,44,2.857143,28
2,3,217,Face-to-face client-driven support,"Face-to-face client-driven support with music,...",2025-03-05,17:00:00,18:00:00,2025-02-24,"Tavern-inspired venue located in Odense, known...",12,...,http://placeimg.com/640/480/any,MEDIUM,3.9,23:00,bar.png,20:00,25,40,3.038462,26
3,4,120,Customer-focused systematic support,Customer-focused systematic support with music...,2025-05-04,21:00:00,22:00:00,2025-04-14,"Young-inspired venue located in Copenhagen, kn...",18,...,http://placeimg.com/640/480/any,HIGH,3.0,23:00,bar.png,19:00,28,38,3.648649,37
4,5,102,Quality-focused background parallelism,Quality-focused background parallelism with mu...,2025-05-23,21:00:00,01:00:00,2025-05-13,"Acoustic-inspired venue located in Copenhagen,...",10,...,http://placeimg.com/640/480/any,MEDIUM,4.1,00:00,bar.png,17:00,23,20,3.366667,30
5,6,230,Optimized 5thgeneration algorithm,"Optimized 5thgeneration algorithm with music, ...",2025-05-15,19:00:00,20:00:00,2025-04-18,"Open Air-inspired venue located in Odense, kno...",8,...,http://placeimg.com/640/480/any,LOW,4.0,23:00,bar.png,16:00,31,44,3.200000,35
6,7,82,Cross-group didactic emulation,"Cross-group didactic emulation with music, vib...",2025-05-29,20:00:00,23:00:00,2025-05-18,"None-inspired venue located in Copenhagen, kno...",12,...,http://placeimg.com/640/480/any,LOW,4.9,23:00,bar.png,20:00,25,44,3.441176,34
7,8,80,Profit-focused real-time algorithm,"Profit-focused real-time algorithm with music,...",2025-03-28,19:00:00,20:00:00,2025-03-23,"Expats-inspired venue located in Copenhagen, k...",13,...,http://placeimg.com/640/480/any,HIGH,4.3,23:00,bar.png,20:00,27,34,4.136364,22
8,9,195,Realigned dedicated structure,"Realigned dedicated structure with music, vibe...",2025-03-13,19:00:00,22:00:00,2025-02-19,"Concept-inspired venue located in Aarhus, know...",12,...,http://placeimg.com/640/480/any,LOW,3.2,23:00,bar.png,16:00,32,38,3.206897,29
9,10,136,Streamlined tangible moratorium,"Streamlined tangible moratorium with music, vi...",2025-03-06,20:00:00,21:00:00,2025-02-19,"Young-inspired venue located in Copenhagen, kn...",9,...,http://placeimg.com/640/480/any,LOW,3.2,02:00,bar.png,20:00,37,50,4.464286,28

In [7]:
event_cleaned = event_merged.drop(columns=['name_x', 'description_x', 'description_y', 'created_at', 'manager_id', 'name_y', 'picture', 'icon']) \
                             .sort_values(by="venue_id") \
                             .reset_index(drop=True)
event_cleaned.head(20)

,event_id,venue_id,event_date,start_time,end_time,price_rating,rating,close_hours,open_hours,checkin_count,like_count,rating_avg,rating_count
0,1995,1,2023-07-12,20:00:00,02:00:00,HIGH,4.7,02:00,19:00,27,54,3.107143,28
1,1528,1,2021-12-06,22:00:00,00:00:00,HIGH,4.7,02:00,19:00,27,54,4.233333,30
2,7791,1,2022-08-13,17:00:00,21:00:00,HIGH,4.7,02:00,19:00,21,42,4.200000,25
3,5408,1,2022-12-22,22:00:00,02:00:00,HIGH,4.7,02:00,19:00,14,27,4.424242,33
4,5698,1,2021-07-03,21:00:00,02:00:00,HIGH,4.7,02:00,19:00,19,38,3.111111,27
5,7658,1,2023-04-23,18:00:00,22:00:00,HIGH,4.7,02:00,19:00,20,40,3.862069,29
6,7711,1,2025-03-29,20:00:00,02:00:00,HIGH,4.7,02:00,19:00,18,35,4.521739,23
7,8429,1,2022-12-13,17:00:00,21:00:00,HIGH,4.7,02:00,19:00,15,29,3.791667,24
8,6907,1,2023-06-25,18:00:00,23:00:00,HIGH,4.7,02:00,19:00,24,47,3.733333,30
9,8801,1,2024-11-12,21:00:00,03:00:00,HIGH,4.7,02:00,19:00,21,42,2.611111,36
10,1797,1,2025-01-19,22:00:00,00:00:00,HIGH,4.7,02:00,19:00,13,25,3.392857,28
11,1604,1,2021-11-18,19:00:00,00:00:00,HIGH,4.7,02:00,19:00,22,44,2.571429,28
12,2815,1,2025-02-09,22:00:00,02:00:00,HIGH,4.7,02:00,19:00,22,44,3.857143,35
13,6824,1,2024-03-27,19:00:00,21:00:00,HIGH,4.7,02:00,19:00,15,29,3.647059,17
14,7181,1,2025-01-03,17:00:00,21:00:00,HIGH,4.7,02:00,19:00,25,50,3.038462,26
15,7264,1,2025-03-13,22:00:00,00:00:00,HIGH,4.7,02:00,19:00,23,46,2.800000,30
16,6943,1,2023-05-03,18:00:00,20:00:00,HIGH,4.7,02:00,19:00,26,50,2.666667,27
17,9367,1,2022-07-22,17:00:00,23:00:00,HIGH,4.7,02:00,19:00,19,37,3.166667,42
18,1197,1,2024-04-07,20:00:00,22:00:00,HIGH,4.7,02:00,19:00,17,34,1.906250,32
19,5756,1,2023-01-15,17:00:00,20:00:00,HIGH,4.7,02:00,19:00,19,38,3.151515,33

In [8]:
# Convert event_date to datetime if it's not already
event_cleaned["event_date"] = pd.to_datetime(event_cleaned["event_date"], errors="coerce")

# Sort by venue and event_date
event_cleaned = event_cleaned.sort_values(by=["venue_id", "event_date"]).reset_index(drop=True)

# Historical count of past events at this venue
event_cleaned["venue_event_count_before"] = event_cleaned.groupby("venue_id").cumcount()

# Historical average check-ins per venue before each event
event_cleaned["venue_avg_checkins_before"] = (
    event_cleaned.groupby("venue_id")["checkin_count"]
    .expanding()
    .mean()
    .shift(1)
    .reset_index(level=0, drop=True)
)

# Historical average likes per venue before each event
event_cleaned["venue_avg_likes_before"] = (
    event_cleaned.groupby("venue_id")["like_count"]
    .expanding()
    .mean()
    .shift(1)
    .reset_index(level=0, drop=True)
)

# Historical average rating per venue before each event
event_cleaned["venue_avg_rating_before"] = (
    event_cleaned.groupby("venue_id")["rating_avg"]
    .expanding()
    .mean()
    .shift(1)
    .reset_index(level=0, drop=True)
)

event_cleaned.head(20)

,event_id,venue_id,event_date,start_time,end_time,price_rating,rating,close_hours,open_hours,checkin_count,like_count,rating_avg,rating_count,venue_event_count_before,venue_avg_checkins_before,venue_avg_likes_before,venue_avg_rating_before
0,3424,1,2020-07-09,22:00:00,00:00:00,HIGH,4.7,02:00,19:00,22,44,4.303030,33,0,NaN,NaN,NaN
1,5698,1,2021-07-03,21:00:00,02:00:00,HIGH,4.7,02:00,19:00,19,38,3.111111,27,1,22.000000,44.000000,4.303030
2,1604,1,2021-11-18,19:00:00,00:00:00,HIGH,4.7,02:00,19:00,22,44,2.571429,28,2,20.500000,41.000000,3.707071
3,1528,1,2021-12-06,22:00:00,00:00:00,HIGH,4.7,02:00,19:00,27,54,4.233333,30,3,21.000000,42.000000,3.328523
4,9367,1,2022-07-22,17:00:00,23:00:00,HIGH,4.7,02:00,19:00,19,37,3.166667,42,4,22.500000,45.000000,3.554726
5,7791,1,2022-08-13,17:00:00,21:00:00,HIGH,4.7,02:00,19:00,21,42,4.200000,25,5,21.800000,43.400000,3.477114
6,8429,1,2022-12-13,17:00:00,21:00:00,HIGH,4.7,02:00,19:00,15,29,3.791667,24,6,21.666667,43.166667,3.597595
7,5408,1,2022-12-22,22:00:00,02:00:00,HIGH,4.7,02:00,19:00,14,27,4.424242,33,7,20.714286,41.142857,3.625320
8,5756,1,2023-01-15,17:00:00,20:00:00,HIGH,4.7,02:00,19:00,19,38,3.151515,33,8,19.875000,39.375000,3.725185
9,7658,1,2023-04-23,18:00:00,22:00:00,HIGH,4.7,02:00,19:00,20,40,3.862069,29,9,19.777778,39.222222,3.661444
10,6943,1,2023-05-03,18:00:00,20:00:00,HIGH,4.7,02:00,19:00,26,50,2.666667,27,10,19.800000,39.300000,3.681506
11,6907,1,2023-06-25,18:00:00,23:00:00,HIGH,4.7,02:00,19:00,24,47,3.733333,30,11,20.363636,40.272727,3.589248
12,1995,1,2023-07-12,20:00:00,02:00:00,HIGH,4.7,02:00,19:00,27,54,3.107143,28,12,20.666667,40.833333,3.601255
13,5503,1,2023-08-03,18:00:00,22:00:00,HIGH,4.7,02:00,19:00,25,50,4.466667,30,13,21.153846,41.846154,3.563247
14,6824,1,2024-03-27,19:00:00,21:00:00,HIGH,4.7,02:00,19:00,15,29,3.647059,17,14,21.428571,42.428571,3.627777
15,1197,1,2024-04-07,20:00:00,22:00:00,HIGH,4.7,02:00,19:00,17,34,1.906250,32,15,21.000000,41.533333,3.629062
16,8801,1,2024-11-12,21:00:00,03:00:00,HIGH,4.7,02:00,19:00,21,42,2.611111,36,16,20.750000,41.062500,3.521386
17,7181,1,2025-01-03,17:00:00,21:00:00,HIGH,4.7,02:00,19:00,25,50,3.038462,26,17,20.764706,41.117647,3.467841
18,1797,1,2025-01-19,22:00:00,00:00:00,HIGH,4.7,02:00,19:00,13,25,3.392857,28,18,21.000000,41.611111,3.443986
19,2815,1,2025-02-09,22:00:00,02:00:00,HIGH,4.7,02:00,19:00,22,44,3.857143,35,19,20.578947,40.736842,3.441295

In [9]:
# Group by venue_id and calculate aggregate stats
venue_success_summary = (
    event_cleaned.groupby("venue_id")
    .agg(
        total_events=("event_id", "count"),
        avg_checkins=("checkin_count", "mean"),
        avg_likes=("like_count", "mean"),
        avg_event_rating=("rating_avg", "mean"),
        median_event_rating=("rating_avg", "median")
        
    )
    .reset_index()
)

# Display the result
venue_success_summary.head(50)

,venue_id,total_events,avg_checkins,avg_likes,avg_event_rating,median_event_rating
0,1,24,20.166667,39.916667,3.511331,3.690196
1,2,31,19.741935,39.161290,3.526812,3.733333
2,3,31,20.903226,41.580645,3.375727,3.407407
3,4,38,19.315789,38.315789,3.554642,3.567145
4,5,39,20.487179,40.615385,3.426747,3.360000
5,6,39,18.102564,35.769231,3.169233,3.470588
6,7,33,19.484848,38.666667,3.431787,3.441176
7,8,38,18.763158,37.184211,3.060291,3.206957
8,9,33,17.090909,34.000000,3.300795,3.457143
9,10,33,18.939394,37.484848,3.507653,3.655172
10,11,28,19.107143,37.642857,3.229213,3.453079
11,12,37,19.648649,39.054054,3.124581,3.322581
12,13,38,20.368421,40.605263,3.266569,3.380952
13,14,26,18.730769,37.153846,3.285792,3.559524
14,15,30,17.233333,34.033333,3.252517,3.434454
15,16,36,19.777778,39.194444,3.387593,3.223810
16,17,30,19.333333,37.533333,3.388354,3.428571
17,18,31,19.483871,38.645161,3.363523,3.304348
18,19,35,18.314286,36.400000,3.277769,3.380952
19,20,35,20.228571,39.914286,3.260243,3.387097
20,21,28,19.321429,38.214286,3.410072,3.632500
21,22,29,19.586207,38.862069,3.468713,3.625000
22,23,38,17.868421,35.473684,3.216874,3.419355
23,24,39,21.205128,42.025641,3.493808,3.633333
24,25,34,20.441176,40.000000,3.399592,3.423660
25,26,31,21.000000,41.709677,3.385502,3.590909
26,27,34,20.323529,40.294118,3.639477,3.576923
27,28,44,19.545455,38.840909,3.192993,3.315887
28,29,32,18.562500,36.656250,3.030423,3.350851
29,30,44,19.545455,38.636364,3.194298,3.386148
30,31,31,21.096774,41.903226,3.116942,3.323529
31,32,34,19.176471,38.029412,3.431507,3.506757
32,33,41,18.975610,37.658537,3.144880,3.280000
33,34,25,18.400000,36.440000,2.902179,3.210526
34,35,33,18.575758,36.848485,3.234807,3.565217
35,36,35,18.857143,37.371429,3.308041,3.458333
36,37,38,18.921053,37.447368,3.241362,3.240676
37,38,39,18.717949,37.256410,3.297830,3.269231
38,39,40,19.725000,39.125000,3.285653,3.327957
39,40,28,19.785714,39.107143,3.296177,3.598443
40,41,35,20.428571,40.142857,3.402587,3.592593
41,42,42,18.976190,37.642857,3.364348,3.565714
42,43,27,18.000000,35.592593,3.363770,3.541667
43,44,42,18.238095,36.119048,3.264753,3.595833
44,45,33,17.363636,34.393939,3.375620,3.480000
45,46,38,19.447368,38.710526,3.417237,3.566638
46,47,34,18.000000,35.647059,3.245230,3.397306
47,48,32,17.562500,34.843750,3.273390,3.590345
48,49,35,20.514286,40.542857,3.465541,3.448276
49,50,26,18.961538,37.461538,3.237787,3.437419

In [10]:
# Assign quintiles based on avg_checkins
venue_success_summary["venue_popularity_tier"] = pd.qcut(
    venue_success_summary["avg_checkins"],
    q=5,
    labels=[1, 2, 3, 4, 5]
).astype(int)

venue_success_summary.head(20)

# Save the venue popularity summary to a CSV file
venue_success_summary.to_csv("venue_success_summary.csv", index=False)